# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1


# Use a package of configuration called an orb.
orbs:
  # Declare a dependency on the welcome-orb
  welcome: circleci/welcome-orb@0.4.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  say-hello:
    # Specify the execution environment. You can specify an image from Dockerhub or use one of our Convenience Images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/2.0/configuration-reference/#docker-machine-macos-windows-executor
    docker:
      - image: cimg/base:stable
    # Add steps to the job
    # See: https://circleci.com/docs/2.0/configuration-reference/#steps
    steps:
      - checkout
      - run:
          name: "Say hello"
          command: "echo Hello, World!"

  save_hello_world_output:
    docker:
      - image: circleci/node:13.8.0

    steps:
      - checkout
      - run:
          name: "save hello world"
          command: echo "text to output here" > output.txt
      - persist_to_workspace:
          root: workspace
          paths:
            - echo-output

  downstream:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - attach_workspace:
          # Must be absolute path or relative path from working_directory
          at: /tmp/workspace

      - run: |
          if [[ `cat /tmp/workspace/echo-output` == "Hello, wor!" ]]; then
            echo "It worked!";
          else
            echo "Nope!"; exit 1
          fi


workflows:
  welcome:
    jobs:
      - welcome/run
      - save_hello_world_output
      - downstream
